body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: url('pinnkie.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

form {
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(95, 21, 98, 0.2);
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label { 
    font-size: 1.4em;
    color: #ce44c5;
    font-weight: bold;
}

select,
button {
    margin-top: 10px;
    padding: 12px;
    font-size: 1.2em;
    border-radius: 5px;
    border: none;
    width: 100%;
}

select {
    background: #ffc1f7;
    cursor: pointer;
}

button {
    background: #ff93ef;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #be5aa5;
}

.result {
    margin-top: 10px;
    font-size: 1.1em;
    color: #db41c4;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(248, 126, 246, 0.1);
    width: 100%;
    text-align: center;
}